.menuToggle {
  position: fixed;
  top: 25px;
  left: 40px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  transition: opacity, left .22s ease-in;
  z-index: 100;
}

.menuToggle:hover {
  opacity: .7;
}

.menuToggle.open {
  left: 250px;
  color: #000;
}

@media screen and (max-width: 600px) {
  .menuToggle {
    transition: none;
  }
  .menuToggle.open {
    left: 90vw;
    transition: none;
  }
}
